{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3" style="margin-top: 32px;">
    <p>※Usernameは半角英数字を使用してください。</p>
    <form action="{% url 'accounts:kind_signup' kind %}" method="post">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block">新規登録</button>
                <input type="hidden" name="next" value="{{ next }}"/>
                {% csrf_token %}
            </div>
        </div>
</form>
</div>
{% endblock %}