{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="search_form" style="margin-bottom: 30px;">
    <div style="display: inline-block; margin-right: 32px;">
    <form action="" method="get">
        <input type="hidden" name="user_age" value="{{ request.user.profile.age }}">
        <input type="hidden" name="user_instrument" value="{{ request.user.profile.instrument }}">
        <input type="hidden" name="user_amateur_level" value="{{ request.user.profile.amateur_level }}">
        <input type="hidden" name="user_area" value="{{ request.user.profile.area }}">
        <button type="submit" class="btn btn-info btn-lg">かんたん検索</button>
    </form>
    </div>
    <div style="display: inline-block">
    <form action="" method="get">
        {{ form }}
        <button type="submit">検索</button>
    </form>
    </div>
</div>
<div class="col-md-6 offset-md-3">
{% for recruitment in recruitments %}

    <table class="table table-bordered table-responsive-sm" style="margin-top: 0;">
        <tbody>
            <td>
                <a href="{% url 'main:user_detail' recruitment.user.username %}">
                    {% if not recruitment.user.profile.image %}
                    <img src="{% static 'amateurband/image/no_image.jpg' %}" style="background-size: cover; height: 120px; width: 120px;"/>
                    {% endif %}
                    <img src="{{ recruitment.user.profile.image.thumbnail.url }}">
                </a>
            </td>

            <td>
                <a href="{% url 'main:recruitment_detail' recruitment.id %}" style="hover text_decoration: none;">
                    <h5>{{ recruitment.title }}</h5>
                <p style="color: black;">{{ recruitment.comment|truncatechars_html:40 }}</p>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</a>
    <p>コメント{{ recruitment.recruitment_comment.all.count }}件</p>
<div style="height:2px; background-color: #ccc; margin: 24px 0;"></div>

{% endfor %}
</div>
{% endblock %}