{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'amateurband/css/index-styles.css' %}">
{% endblock %}
{% block header %}
<ul class="mypage_nav">
    <li><a href="{% url 'main:mypage' %}">マイページ</a></li>
</ul>
{% endblock %}
{% block header_image %}
<div class="header-image-container" style="text-align: center;">
<h2 style="letter-spacing: 4px; margin-top: 24px;">Welcome to AmateurBand</h2>
<div class="image-box">
<img src="{% static 'amateurband/image/band.jpg' %}" style="background-size: cover;"/>
</div>
</div>
{% endblock %}
{% block content %}
<div class="introduce">
<h2 style="text-align: left; margin: 24px 0;">AmateurBandの使い方</h2>
    <ul class="how_to_use" style="list-style: disc;">
        <li style="padding: 12px;">バンドを組んでみたいけど、楽器演奏をしたことがない初心者の方</li>
        <li style="padding: 12px;">個人で楽器を嗜んでいるが、バンド活動は未経験、もしくはブランクがある方</li>
        <li style="padding: 12px;">プロ志向ではなく、趣味程度で気楽にバンド活動をしたい方。</li>
        <li style="padding: 12px;">いちからの仲間探し</li>
    </ul>
    <p>etc...</p>
    <h3>音楽を通じてあなただけの最高の仲間を見つけてみましょう。</h3>

</div>

<p>メンバーを探す</p>
</div>
<div class="menber_search">
    {% if user.is_authenticated %}
    <a href="{% url 'main:new_recruitment' %}" class="btn boshu_btn">募集する</a>
    <a href="{% url 'main:recruitment_list'%}" class="btn kanyu_btn">加入する</a>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="btn boshu_btn">募集する</a>
    <a href="{% url 'accounts:login' %}" class="btn kanyu_btn">加入する</a>
    {% endif %}
</div>
{% endblock %}