{% extends 'base.html'%}
{% block header %}
<ul>
    <li><a href="{% url 'main:mypage'%}">マイページ</a></li>
</ul>
{% endblock %}
{% block content %}
<h4 style="border-bottom: 1px solid #ccc; margin: 28px 0; padding: 4px 16px;">{{receive_user.username }}へメッセージを送ります</h4>
<form action="" method="POST">
       <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block" >送信する</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
       </div>
    </form>

{% endblock %}