{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if request.user.kind == 1 %}
{% block recruit_mypage_css %}
<link rel="stylesheet" type="text/css" href="{% static 'amateurband/css/styles-recruit-mypage.css'%}">
{% endblock %}
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <div class="recruit-mypage">
                <div class="recruitment-list">
                    <h3 class="recruit-list">投稿した募集記事</h3>
                    {% if not recruitments %}
                    <p>投稿した記事はありません。</p>
                    {% endif %}
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                        <tr>
                            <th>タイトル</th>
                            <th>投稿日時</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recruit in recruitments %}

                        <tr>
                            <td>
                                <a href="{% url 'main:recruitment_detail' request.user.username recruit.id %}">
                                    {{ recruit.title }}
                                </a>
                            </td>
                            <td>{{ recruit.created_at }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>

    <div class="card col-md-6">
        <div class="card-body">
            <div class="message-list">
                <h3 class="unread-message">未読メッセージ</h3>

                    {% if receive_messages.count == 0 %}
                    <p>未読メッセージはありません。</p>
                    {% endif %}
                    {% for message in receive_messages %}
                    {% if not message.unread%}
                        <div class="card" style="margin-bottom: 18px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% if message.sending_user.profile.gender ==  1%}
                        <p style="text-align: center; color: blue;">{{ message.sending_user.username }}</p>
                        {% elif message.sending_user.profile.gender == 2%}
                        <p style="text-align: center; color: red;">{{ message.sending_user.username|truncatechars_html:13 }}</p>
                        {% else %}
                        <p style="text-align: center; color: gray;">{{ message.sending_user.username|truncatechars_html:13 }}</p>
                        {% endif %}
                                        {% if message.sending_user.profile.image %}
                                        <div>
                                            <a href="{% url 'main:user_detail' message.sending_user.username%}">
                                                <img src="{{ message.sending_user.profile.image.thumbnail.url }}">
                                            </a>
                                        </div>
                                        {% else %}
                                        <a href="{% url 'main:user_detail' message.sending_user.username%}">
                                        <img src="{% static 'amateurband/image/no_image.jpg' %}"
                                             style="background-size: cover; height: 120px; width: 120px;"/>
                                        </a>
                                        {% endif %}

                                    </div>
                                    <div class="col-sm-8">

                                        <p>

                                            <a href="{% url 'main:message_detail' message.id %}">{{ message.subject|linebreaksbr }}</a>

                                        </p>
                                        <hr>
                                        <div class="description" style="color: black;">
                                            {{ message.text|linebreaksbr|urlize|truncatechars_html:60 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
            {% endfor %}


        </div>


    </div>
</div>
<!--承諾待ちコメント欄-->
<div class="admission-comment">
<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h3 class="comment">承諾待ちコメント</h3>
            {% for recruitment in recruitments%}
            {% for comment in recruitment.recruitment_comment.all %}
            {% if comment %}
            <p class="comment-wait">承諾待ちコメントはありません。</p>
            {% endif %}
            {% if not comment.admission%}
            <div class="card" style="margin: 0 auto;">
                <div class="card-body">
                    <a href="{% url 'main:user_detail' comment.name %}">{{ comment.name }}</a>
                    <p class="hidden-print">{{ comment.text|linebreaksbr|truncatechars_html:25 }}</p>
                    <p id="aaa" class="hidden-print">続きを読む</p>
                    <p class="show-print">{{ comment.text }}</p>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('承諾しますか？')">承諾
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor%}
            {% endfor %}

        </div>
        </div>
    </div>
</div>


{% elif request.user.kind == 2 %}
{% block entry_mypage_css %}
<link rel="stylesheet" type="text/css" href="{% static 'amateurband/css/styles-entry.css'%}">
{% endblock %}
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <div class="entry-mypage">

                <div class="recommendation-recruitment">
                    <h3 class="recommend-recruit">
                        おすすめ募集記事
                    </h3>
                    <div class="card">
                        <div class="card-body" style="padding: 0;">
                            {% for recruit in query_set %}
                            <a href="{% url 'main:recruitment_detail' recruit.user.username recruit.id %}">
                                <table class="table table-responsive-sm" style="margin-top: 0;">
                                    <tbody>
                                    <td>
                                        {% if not recruit.user.profile.image %}
                                        <img class="not-image" src="{% static 'amateurband/image/no_image.jpg' %}"/>
                                        {% endif %}
                                        <img src="{{ recruit.user.profile.image.thumbnail.url }}">
                                    </td>

                                    <td>
                                        <h5>{{ recruit.title }}</h5>
                                        <p style="color: black;">{{ recruit.comment|truncatechars_html:40 }}</p>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </a>
                            {% endfor %}
                            {% include "amateurband/pagination.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-6">
        <div class="card-body">
            <div class="message-list">
                <h3 class="unread-message">未読メッセージ</h3>

                    {% if receive_messages.count == 0 %}
                    <p>未読メッセージはありません。</p>
                    {% endif %}
                    {% for message in receive_messages %}
                    {% if not message.unread%}
                        <div class="card" style="margin-bottom: 18px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {% if message.sending_user.profile.gender ==  1%}
                        <p style="text-align: center; color: blue;">{{ message.sending_user.username }}</p>
                        {% elif message.sending_user.profile.gender == 2%}
                        <p style="text-align: center; color: red;">{{ message.sending_user.username|truncatechars_html:13 }}</p>
                        {% else %}
                        <p style="text-align: center; color: gray;">{{ message.sending_user.username|truncatechars_html:13 }}</p>
                        {% endif %}
                                        {% if message.sending_user.profile.image %}
                                        <div>
                                            <a href="{% url 'main:user_detail' message.sending_user.username%}">
                                                <img src="{{ message.sending_user.profile.image.thumbnail.url }}">
                                            </a>
                                        </div>
                                        {% else %}
                                        <a href="{% url 'main:user_detail' message.sending_user.username%}">
                                        <img src="{% static 'amateurband/image/no_image.jpg' %}"
                                             style="background-size: cover; height: 120px; width: 120px;"/>
                                        </a>
                                        {% endif %}

                                    </div>
                                    <div class="col-sm-8">

                                        <p>

                                            <a href="{% url 'main:message_detail' message.id %}">{{ message.subject|linebreaksbr }}</a>

                                        </p>
                                        <hr>
                                        <div class="description" style="color: black;">
                                            {{ message.text|linebreaksbr|urlize|phone2numeric|truncatechars_html:60 }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
            {% endfor %}


        </div>


    </div>
</div>

{% endif %}
{% block extra_js %}
<script src="{% static 'amateurband/js/script.js' %}"></script>{% endblock %}
{% endblock %}
