{% extends 'base.html' %}
{% block content %}
<a href="{% url 'main:recruitment_detail' request.user.username recruitment.id %}" style="margin-bottom: 26px; display: inline-block;">
    戻る
</a>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

<button type="submit" class="btn btn-primary" style="margin-bottom: 12px;">保存</button>
</form>
<form action="{% url 'main:recruitment_delete' recruitment.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger" style="display: inline;" onclick="return confirm('削除してもよろしいですか？')">削除</button>
</form>

{% endblock %}