{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'amateurband/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'amateurband/css/style-base.css' %}">
    {% block recruit_mypage_css %}{% endblock %}
    {% block entry_mypage_css %}{% endblock %}
    <title>{% if request.path != '/'%}{% block title %}{% endblock %}{% endif %}AmateurBand</title>
    <script src="{% static 'amateurband/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'amateurband/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'amateurband/js/script.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'main:index' %}">AmateurBand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li>
                <a class="nav-item nav-link" href="{% url 'main:show_profile' %}">プロフィール</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="{% url 'main:edit_profile' %}">プロフィール更新</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="{% url 'accounts:password_change' %}">パスワードの変更</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'accounts:login' %}">
                    ようこそ、ゲスト！ログイン,新規登録はこちら
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% if messages %}
<div class="flush-message">
    {% for message in messages %}
    <p class="ui {% if message.tags%}{{ message.tags}}{% endif %}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% if user.is_authenticated %}
{% if request.user.kind == 1 %}
<div class="mypage-nav">
    <ul class="nav recruit-nav">
        <li>
            <a href="{% url 'main:mypage' %}">マイページ</a>
        </li>
        <li>
            <a href="{% url 'main:new_recruitment' %}" style="color: #fff">募集記事を書く</a>
        </li>
        {% if request.user.receive_messages.exists %}
        <li>
            <a href="{% url 'main:message_list' %}" style="color: #fff">メッセージ一覧</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'main:recruitment_list' %}" style="color: #fff">募集記事一覧</a>
        </li>
        <li>
            <a href="{% url 'main:show_profile' %}" style="color: #fff">プロフィール</a>
        </li>
        <li>
            <a href="{% url 'main:footprint' %}" style="color: #fff">足跡</a>
        </li>
    </ul>

</div>
{% elif request.user.kind == 2 %}
<div class="mypage-nav">
    <ul class="nav entry-nav">
        <li>
            <a href="{% url 'main:mypage' %}?page=1">マイページ</a>
        </li>
        <li>
            <a href="{% url 'main:home' %}">募集記事を見に行く</a>
        </li>
        {% if request.user.receive_messages.exists %}
        <li>
            <a href="{% url 'main:message_list' %}" style="color: #fff">メッセージ一覧</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'main:show_profile' %}" style="color: #fff">プロフィール</a>
        </li>
        <li>
            <a href="{% url 'main:footprint' %}" style="color: #fff">足跡</a>
        </li>
    </ul>

</div>

{% endif %}
{% endif %}
{%block header_image %}{% endblock %}
<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
{% block extra_js %}{% endblock %}
</body>
</html>