{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'amateurband/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'amateurband/css/style-base.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% if request.path != '/'%}{% block title %}{% endblock %}{% endif %}AmateurBand</title>
</head>
<body>
<header>
    <h1><a href="{% url 'main:index' %}">AmateurBand</a></h1>
    <ul class="amateur-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'main:home'%}">Home</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="logout">Logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:signup'%}">新規登録</a></li>
        <li><a href="{% url 'accounts:login' 3 %}" class="login">Login</a></li>
        {% endif %}
    </ul>
</header>
{% if user.is_authenticated %}
<div class="login-nav" style="margin-bottom: 62px;">
    <ul class="mypage_nav" style="padding: 12px 32px; background-color: blue;">
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:mypage' %}" style="color: #fff">マイページ</a>
        </li>
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:new_recruitment' %}" style="color: #fff">募集記事を書く</a>
        </li>
        {% if request.user.receive_messages.exists %}
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:message_list' %}" style="color: #fff">メッセージ一覧</a>
        </li>
        {% endif %}
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:recruitment_list' %}" style="color: #fff">募集記事一覧</a>
        </li>
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:show_profile' %}" style="color: #fff">プロフィール</a>
        </li>
        <li style="display: inline-block; margin-right: 16px;">
            <a href="{% url 'main:footprint' %}" style="color: #fff">足跡</a>
        </li>
    </ul>

</div>
{% endif %}
{%block header_image %}{% endblock %}
<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
<script src="{% static 'amateurband/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'amateurband/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>