body {
background-color: #440000;
}

h3 {
border-bottom: 1px solid #ccc;
padding-bottom: 4px;
padding-left: 18px;
margin-bottom: 12px;
}

.recommend-recruit {
border-left: 8px solid green;
}

.unread-message {
border-left: 8px solid blue;
}

.not-image {
background-size: cover;
height: 120px;
width: 120px;
}